  .hidden {
    opacity:0;
  }
  .console-container {
   
    font-family:Khula;
    font-size:4em;
    text-align:center;
    height:200px;
    width:600px;
    display:block;
    position:absolute;
    color:white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
  }
  .console-underscore {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }


  
  #biodatanya{
    background-image:  url("../img/background.png");
    
      

  }
  .mb-0{
    font-weight: bold;

  }

  #main-body{
    background-color: #2B7983;
    font-family: 'Open Sans', sans-serif;
      
  }

  
  .carousel-item{
    min-height: 600px;
    max-height: 1000px
    
  }

  #welcome{
    font-weight: 600;
    color: black;
    
  }

  #main{
    background-color: #10323A;
  }

  .mt-3{
    
    line-height: 0pt;
    font-weight: bold;
    color: rgb(61, 61, 61);
   

  }

  

