{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href='{% static "logreg.css" %}' rel='stylesheet'>

        <!-- Favicons -->
        <link href="{% static 'assets-home/img/icon.png' %}" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{% static 'assets-home/vendor/aos/aos.css' %}" rel="stylesheet">
        <link href="{% static 'assets-home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets-home/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'assets-home/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets-home/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets-home/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{% static 'assets-home/css/style.css' %}" rel="stylesheet">
    </head>
    <body style="background: linear-gradient(to right, #10323A, #2B7983);">

        <header id="header" class="d-flex align-items-center"style="background-color: #030315;">
            <div class="container d-flex align-items-center justify-content-between">
        
                <h1 class="logo" ><a href="/">Hermitage</a></h1-->
        
                <!-- kalo mau ada navbar, disini-->
                <nav id="navbar" class="navbar">
        
                    <style>
                    #navbar{
                        padding-left: 200px;
                        float: right;
                    }
                    #link{
                        font-size: medium;
                        padding-right: 50px;
                    }
                    </style>

        
                </nav><!-- .navbar -->
        
            </div>
        </header><!-- End Header -->

        <div class="container-fluid ps-md-0">
            <div class="row g-0">
                <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
                    <div class="col-md-8 col-lg-6">
                        <div class="login d-flex align-items-center py-5">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-9 col-lg-8 mx-auto">
                                    <h3 class="login-heading mb-4" style="font-size: larger;">Selamat Datang, Pengurus Rumah Sakit</h3>
          
                                    <!-- Sign In Form -->
                                    <form method='POST' action=''>

                                        {% if messages %}
                                            {% for msg in messages %}
                                                {% if msg.tags == 'warning' %}
                                                    <div class="alert alert-danger" role="alert">
                                                        {{msg}}
                                                    </div>
                                                {% endif %}
                                                {% if msg.tags == 'success' %}
                                                    <div class="alert alert-success" role="alert">
                                                        {{msg}}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        {% csrf_token %}
                                        
                                        <div class="form-floating mb-3">
                                            <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username" required>
                                            <label for="floatingInput">Username</label>
                                        </div>
                                        
                                        <div class="form-floating mb-3">
                                            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                                            <label for="floatingPassword">Password</label>
                                        </div>

                                        <div class="d-grid">
                                            <input type="submit" class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" value="Sign in"> 
                                        </div>

                                        <a class="d-block text-center mt-2 small" href="/acc/register" style="color: #020215;">Ingin mendaftarkan Rumah Sakit? Register</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>