{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <meta charset="UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href='{% static "logreg.css" %}' rel='stylesheet'>

        <!-- Favicons -->
        <link href="{% static 'assets-home/img/icon.png' %}" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{% static 'assets-home/vendor/aos/aos.css' %}" rel="stylesheet">
        <link href="{% static 'assets-home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets-home/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'assets-home/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets-home/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets-home/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{% static 'assets-home/css/style.css' %}" rel="stylesheet">
    </head>
    <body>

        <header id="header" class="d-flex align-items-center"style="background-color: #030315;">
            <div class="container d-flex align-items-center justify-content-between">
        
                <h1 class="logo" ><a href="/">Hermitage</a></h1-->
        
                <!-- kalo mau ada navbar, disini-->
                <nav id="navbar" class="navbar">
        
                    <style>
                    #navbar{
                        padding-left: 200px;
                        float: right;
                    }
                    #link{
                        font-size: medium;
                        padding-right: 50px;
                    }
                    </style>

        
                </nav><!-- .navbar -->
        
            </div>
        </header><!-- End Header -->

        <div class="alert alert-warning text-center" role="alert" id="war-div" style="display: none">

        </div>

        <form method='POST' action='' id="formid">

            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xl-15 mx-auto">
                        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                            <div class="card-img-left d-none d-md-flex">
                            <!-- Background image for card set in CSS! -->
                            </div>

                            <div class="card-body p-4 p-sm-5">
                                <h5 class="card-title text-center mb-5 fw-light fs-5">Informasi Rumah Sakit</h5>
            
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="nama" id="nama" placeholder="Name" required>
                                    <label for="floatingInput">Nama</label>
                                </div>
                    
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="lokasi" id="loc" placeholder="Location" required>
                                    <label for="floatingInput">Lokasi</label>
                                </div>
                    
                                <div class="form-floating mb-3">
                                    <input type="tel" class="form-control" name="nomor_telepon" id="tel" placeholder="Telephone Number" required>
                                    <label for="floatingInput">Nomor Telepon</label>
                                </div>

                                <hr>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="vaksin_ada" id="va">
                                    <label class="form-check-label" for="flexCheckDefault">Ketersediaan Vaksin</label>
                                </div>
            
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" name="vaksin_tersedia" id="vac" required>
                                    <label for="floatingPasswordConfirm">Jumlah Vaksin Tersedia</label>
                                </div>
            
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="bed_ada" id="be">
                                    <label class="form-check-label" for="flexCheckDefault">Ketersediaan Bed</label>
                                </div>
            
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" name="bed_tersedia" id="bed" required>
                                    <label for="floatingPasswordConfirm">Jumlah Bed Tersedia</label>
                                </div>
                            </div>

                            <div class="card-body p-4 p-sm-5">
                                <h5 class="card-title text-center mb-5 fw-light fs-5">Informasi Login</h5>
                    
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="username" id="floatingInputUsername" placeholder="myusername" required autofocus>
                                    <label for="floatingInputUsername">Username</label>
                                </div>
                
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" name="email" id="floatingInputEmail" placeholder="name@example.com" required>
                                    <label for="floatingInputEmail">Email Address</label>
                                </div>
                
                                <hr>
                
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" name="password1" id="floatingPassword" placeholder="Password" required>
                                    <label for="floatingPassword">Password</label>
                                </div>
                
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" name="password2" id="floatingPasswordConfirm" placeholder="Confirm Password" required>
                                    <label for="floatingPasswordConfirm">Konfirmasi Password</label>
                                </div>
                                
                                <hr>
                                <br>

                                <div class="d-grid mb-2">
                                    <input type="submit" class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" value="Daftarkan Rumah Sakit"> 
                                </div>
                
                                <a class="d-block text-center mt-2 small" href="/acc/login" style="color: #020215;">Sudah terdaftar? Sign In</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'logreg.js' %}"></script>

</html>