{% load static %}

{% if rs %}

<!doctype html>
<html style="background-color:#10323A;" lang="en">
  <head>
   
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'assets-home/css/style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="{% static 'assets-home/css/biodata.css' %}" rel="stylesheet">
  

    <title>Informasi mengenai Vaksin</title>
  </head>


  <body>

    
    
    
      <!-- Navigation Bar -->

      {% if user.is_authenticated %}
      {% include "navbar-logged.html" %}
      {% else %}
      {% include "navbar.html" %}
      {% endif %}

 

    <div class="container-fluid" id="main">

      <!-- the body -->
      <div class="row" id="main-body">

        <div id="sliding" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#sliding" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#sliding" data-bs-slide-to="1" aria-label="Slide 2"></button>
        
          </div>
          <div class="carousel-inner">

            <div class="carousel-item active">
              <div class="container text-center">
              
   

                  <div class='console-container'><span id='text'></span>
                    <div class='console-underscore' id='console'>&#95;
                    
                    </div>
                  </div>
                

        
              </div>
            
            </div>

            <div class="carousel-item">

              <div class="row text-center py-3">
                <h1 style="color: black;font-weight: 600;" class="display-3">Informasi</h1>
              </div>
              <div class="col-md-6-offset-3 col-12">
                <div class="container py-5 px-5" id="biodatanya">
                  <div class="row gy-5">
                    
                    <!-- card -->
                    <div class="col-md-4 col-12">
                      <div class="row">                      
                        <div class="card">
                          <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                              <img src="{% static 'assets/images/medicine.png'%}" alt="Admin" class="img-fluid rounded-circle" width="150">
                              <div class="mt-3">
                                <p class="text-dark">Rumah Sakit {{rs.nama}}</p>
                                <p class="text-dark">{{rs.lokasi}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- card -->
  
                        <!-- biodata -->
                        <div class="col-md-8 col-12">
                          <div class="card mb-3">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-3">
                                  <h6 class="mb-0">Nama RS</h6>
                                </div>
                                <div class="col-md-9 text-dark">
                                  {{ rs.nama }}
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-md-3">
                                  <h6 class="mb-0">Lokasi</h6>
                                </div>
                                <div class="col-md-9 text-dark">
                                  {{ rs.lokasi }}
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-md-3">
                                  <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-md-9 text-dark">
                                  {{ rs.nomor_telepon }}
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-md-3">
                                  <h6 class="mb-0">Vaksin Tersedia</h6>
                                </div>
                                <div class="col-md-9 text-dark">
                                  {{ rs.vaksin_tersedia }}
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-md-3">
                                  <h6 class="mb-0">Bed Tersedia</h6>
                                </div>
                                <div class="col-md-9 text-dark">
                                  {{ rs.bed_tersedia }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
  
                        <!-- biodata -->
  
  
                  </div>
                </div>
              </div>

            </div>


            
            
           

            <!-- carousel -->
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#sliding" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#sliding" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> 
        </div>

      </div>

      <!-- body -->

      <!-- footer -->

      <div class="row">
          
    
        {% include "footer.html" %}
      

      </div>
    </div>
    
 

            <!-- Footer -->
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    
    <script  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
      var username = "{{user_type}}";
    </script>
    <script src="{% static 'assets-home/js/text.js' %}">
     
    
    </script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

    
  </body>
</html>

<!-- Copyright (c) 2021 by Tobias (https://codepen.io/Tbgse/pen/dYaJyJ) -->
<!-- Copyright https://www.bootdey.com/ -->



{% endif%}

