{% load static %}
<script src="{% static 'abelsubmit.js'%}"></script>
<link rel="stylesheet" href="{% static 'abeltest.css'%}">

<style>
    .form-group label{
      display: block;
    }
</style>

<section class="self-footer">
    <h3 class="putih">Masukan</h3>
    <div class="form-group">
        <form id="form" method="POST">
                
                {% csrf_token %}
                {{form.as_p}}
                <input id="ikan" class="btn btn-primary  self-btn self-btn-form " type="submit">
                
            
            
          </form >
    </div>
        
    </div>
    <footer  id="footer">
        <div>
            <p>icon by Freepik</p>
        </div>
    </footer>
</section>
    <script
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    const form = document.getElementById('form');
    form.addEventListener("submit", submitHandler);

    function submitHandler(e) {
        e.preventDefault();
        $.ajax({
            type        : 'POST', 
            url         : '{% url "katalog-masukan" %}', 
            data        : $('#form').serialize(), 
            dataType    : 'json', 
            success     : successFunction
        });
    }

    function successFunction(msg) {
        if (msg.message === 'success') {
            alert('Success!');
            form.reset()
        }
    }
</script>

    
    

</body>
</html>
