{% load static %}
<!DOCTYPE html>
<html lang="en">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Homepage</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets-home/img/icon.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets-home/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets-home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets-home/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets-home/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets-home/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets-home/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets-home/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Day - v4.6.0
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Navbar ======= -->

  {% if user.is_authenticated %}
    {% include "navbar-logged.html" %}
  {% else %}
    {% include "navbar.html" %}
  {% endif %}

  <!-- ======= Welcome page, id: hero ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Welcome to Hermitage
      </h1>
      <h2>Di masa pandemi COVID-19 ini, informasi mengenai ketersediaan vaksin dan kamar rawat inap yang ada di rumah sakit sekitar sangat dibutuhkan. Kami sebagai pengembang website menawarkan kerja sama dengan rumah sakit dan pemerintah untuk menampilkan informasi ketersediaan vaksin dan kamar rawat inap. Dengan demikian, masyarakat dapat mengunjungi website kami untuk melihat rumah sakit mana saja yang memiliki ketersediaan vaksin dan kamar rawat inap tanpa harus repot-repot menghubungi rumah sakit satu per satu.</h2>
      <!--a href="#about" class="btn-get-started scrollto">LOGIN</a-->
      <div class="center">

        {% if not user.is_authenticated %}
        <a href="acc/login">
          <button class="main-login" >LOGIN</button>
        </a>

        {% else %}
          <h3 id="keterangan" style="color: aqua;">Hello, {{user.username}}!</h3>
        {% endif %}

        
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Content Section, id: about ======= -->
    <section id="about" class="about">
      <div class="container">

        <!-- VACCINE -->
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static 'assets-home/img/vaccine.png' %}" class="img-fluid" alt="">
          </div>
          
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" id="keterangan-box">

            <h3>KATALOG VAKSIN</h3>

            <p id="keterangan">
              Temukan vaksin
              yang tersedia
              di<br> rumah sakit
              partner kami
            </p>
            <a href="vaksin-rumahsakit">
              <button class="vax-button">Continue</button>
            </a>
          </div>
          
        </div>

      </div>
    </section>

    <!-- BED -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" >

            <h3 id="bed-content" >KATALOG BED</h3>
            
            <p id="keterangan">
              Temukan bed
              yang tersedia
              di<br> rumah sakit
              partner kami
            </p>

            <a href="bed-rumahsakit">
              <button class="vax-button">Continue</button>
            </a>
            
          </div>
          
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" id="keterangan-box">
            <img src="{% static 'assets-home/img/glove.png' %}" class="img-fluid" alt="">
          </div>
          
        </div>

      </div>
    </section><!-- End Content Section -->

    <!-- ======= Message Box ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Message Box</h3>
          <p>Apakah anda memiliki pesan dan masukan? silahkan isi form berikut</p>
          <a class="cta-btn" href="#form">Isi Form</a>
        </div>

      </div>
    </section><!-- MB Section -->


    <!-- ======= Footer ======= -->
    {% include "footer.html" %}
   

    <!-- ======= COPYRIGHT ======= -->
      <div class="credits" style="background-color: black;">
        Designed by <a href="https://bootstrapmade.com/" style="color: antiquewhite;">BootstrapMade</a>
      </div>
    </div>

    <div id="footer.html"></div>
  </footer><!-- End Copyright -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets-home/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets-home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets-home/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets-home/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets-home/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets-home/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets-home/js/main.js' %}"></script>

  


</body>


</html>