<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katalog Vaksin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit:600">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
    {% load static %}
    <script src="{% static 'abelsubmit.js'%}"></script>
    <link href="{% static 'assets-home/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'abeltest.css'%}">
</head>
<body>
    
        {% if user.is_authenticated %}
        {% include "navbar-logged.html" %}
      {% else %}
        {% include "navbar.html" %}
      {% endif %}
    
        
    

      <section class="self-gambar">
    <section class="katalog" >
        <h3 class="putih self-user">Selamat datang{{user}}</h3>
        <div class="card-deck pricing-colomn">
            {% if rumahsakits %}
        {% for rumahsakit in rumahsakits %}
        <div class="col-lg-4 col-md-6">
            <div class="card self-card">
                <div class="card-header">
                  <h3 class="title-card-price self-title ">{{ rumahsakit.nama }}</h3>
                </div>
                <img src="{% static 'assets/images/medicine.png'%}" class="card-img-top self-img" alt="...">
                <div class="card-body">
                  
                  <a class="btn btn-primary btn-block self-btn" href="{% url 'show_bio' id=rumahsakit.pk %}" role="button" >Detail</a>
                </div>
              </div>
        </div>
    {% endfor %}
  {% endif %}
        </div>
            
        
    </section>
    

</section>
<section class="self-footer">
    <h3 class="putih">Masukan</h3>
    <div class="form-group">
        <form id="form" method="POST">
                
                {% csrf_token %}
                {{form.as_p}}
                <input id="ikan" class="btn btn-primary  self-btn self-btn-form " type="submit">
                
            
            
          </form >
    </div>
        
    </div>
    <footer  id="footer">
        <div>
            <p>icon by Smashicon</p>
        </div>
    </footer>
</section>
    <script
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    const form = document.getElementById('form');
    form.addEventListener("submit", submitHandler);

    function submitHandler(e) {
        e.preventDefault();
        $.ajax({
            type        : 'POST', 
            url         : '{% url "katalog-masukan" %}', 
            data        : $('#form').serialize(), 
            dataType    : 'json', 
            success     : successFunction
        });
    }

    function successFunction(msg) {
        if (msg.message === 'success') {
            alert('Success!');
            form.reset()
        }
    }
</script>

    
    

</body>
</html>
