<!-- isinya tampilan tombol  -->
<!-- vaksin atau bed? -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hermitage</title>
</head>
<body>
    <h1> {{sign}} </h1>
</body>
</html>

