label{
    color: #4a919e;
}

h5{
    color: #004a57;
}

h3{
    color: azure;
}


.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 15px 20px;
    background-color: #fafafa;
    box-shadow: 0 6px 8px rgba(0,0,0,.1);
    border-radius: 8px;
    width: 1000px;
    height: 820px;
    background: rgb(233,76,161);
    background: -moz-linear-gradient(90deg, #2B7983 0%, #0F0F0F 100%);
    background: -webkit-linear-gradient(90deg, #2B7983 0%, #0F0F0F 100%);
    background: linear-gradient(90deg, #767777 0%, #0F0F0F 100%);
}

.container h1{
    margin-bottom: 12px;
    color: #0f0f0f;
    text-transform: uppercase;
}

.container label{
    color: #0f0f0f;
}

.container input,textarea{
    padding: 12px 20px;
    width: 100%;
    font-size: 16px;
    margin: 8px 0;
    resize: none;
    box-sizing: border-box;
    border-radius: 8px;
}

.container p{
    font-size: 40px;
    color: #f9f9f9;
    margin-top: auto;
}

body {
/* background: linear-gradient(to right, #2B7983, #10323A); */
background: scroll center url(assets/images/background.png);
}

.bg-image {
background-image: url(assets/images/background.png);
background-size: cover;
background-position: center;
}

.LOGIN-1{
    position:relative;
    z-index:38;
    pointer-events:auto;
    cursor:pointer;
    min-width:65px;
    min-height:34px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Kanit;
    font-weight:600;
    font-size:23px;
    line-height:34px;
    }
.LOGIN-1-outer{
    pointer-events:none;
    z-index:38;
    position:relative;
    display:flex;
    }
.LOGIN-1-url{
    text-decoration:none;
    margin-left:544px;
    width:65px;
    margin-top:0px;
    margin-bottom:0px;
    }
.REGISTER{
    position:relative;
    z-index:37;
    pointer-events:auto;
    cursor:pointer;
    min-width:91px;
    min-height:34px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Kanit;
    font-weight:600;
    font-size:23px;
    line-height:34px;
    }
.REGISTER-outer{
    pointer-events:none;
    z-index:37;
    position:relative;
    display:flex;
    }
.REGISTER-url{
    text-decoration:none;
    margin-left:415px;
    width:91px;
    margin-top:-34px;
    margin-bottom:0px;
    }
.VAKSIN{
    position:relative;
    z-index:36;
    pointer-events:auto;
    cursor:pointer;
    min-width:80px;
    min-height:34px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Kanit;
    font-weight:600;
    font-size:23px;
    line-height:34px;
    }
.VAKSIN-outer{
    pointer-events:none;
    z-index:36;
    position:relative;
    display:flex;
    }
.VAKSIN-url{
    text-decoration:none;
    margin-left:297px;
    width:80px;
    margin-top:-34px;
    margin-bottom:0px;
    }
.BED{
    position:relative;
    z-index:35;
    pointer-events:auto;
    cursor:pointer;
    min-width:43px;
    min-height:34px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Kanit;
    font-weight:600;
    font-size:23px;
    line-height:34px;
    }
.BED-outer{
    pointer-events:none;
    z-index:35;
    position:relative;
    display:flex;
    }
.BED-url{
    text-decoration:none;
    margin-left:216px;
    width:43px;
    margin-top:-34px;
    margin-bottom:0px;
    }
.ARTIKEL{
    position:relative;
    z-index:34;
    pointer-events:auto;
    cursor:pointer;
    min-width:77px;
    min-height:34px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Kanit;
    font-weight:600;
    font-size:23px;
    line-height:34px;
    }
.ARTIKEL-outer{
    pointer-events:none;
    z-index:34;
    position:relative;
    display:flex;
    }
.ARTIKEL-url{
    text-decoration:none;
    margin-left:101px;
    width:77px;
    margin-top:-34px;
    margin-bottom:0px;
    }
.HOME{
    position:relative;
    z-index:33;
    pointer-events:auto;
    cursor:pointer;
    min-width:63px;
    min-height:34px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Kanit;
    font-weight:600;
    font-size:23px;
    line-height:34px;
    }
.HOME-outer{
    pointer-events:none;
    z-index:33;
    position:relative;
    display:flex;
    }
.HOME-url{
    text-decoration:none;
    margin-left:0px;
    width:63px;
    margin-top:-34px;
    margin-bottom:0px;
    }

.button{
    /* color: black; 
    size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" */
    background-color:red;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0px 0px;
    cursor: pointer;
    }

.tulisan2{
    font-family: Calibri;
    text-align:justify;
    color: white;
    font-size: small;
}




