{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit:600">
        <link href='{% static "logreg.css" %}' rel='stylesheet'>
        <!-- <h3 class="header">Edit Profil</h3> -->
    </head>
    <body>

        <form method='POST' action='' id="edit_profile">

            {% csrf_token %}

            {% if rs_target %}

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xl-15 mx-auto">
                        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                            <div class="card-img-left d-none d-md-flex">
                            <!-- Background image for card set in CSS! -->
                            </div>

                            <div class="card-body p-4 p-sm-5">
                                <h5 class="card-title text-center mb-5 fw-light fs-5">Edit Profil</h5>

                                {% if rs_target %}
            
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="nama" id="nama" placeholder="Nama" value="{{ rs_target.nama }}">
                                    <label for="floatingInput">Nama</label>
                                </div>
                    
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="lokasi" id="lokasi" placeholder="Lokasi" value="{{ rs_target.lokasi }}">
                                    <label for="floatingInput">Lokasi</label>
                                </div>
                    
                                <div class="form-floating mb-3">
                                    <input type="tel" class="form-control" name="nomor_telepon" id="nomor_telepon" placeholder="Nomor Telepon" value="{{ rs_target.nomor_telepon }}">
                                    <label for="floatingInput">Nomor Telepon</label>
                                </div>

                                <hr>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="vaksin_ada" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">Ketersediaan Vaksin</label>
                                </div>
            
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" name="vaksin_tersedia" id="vaksin_tersedia" value="{{ rs_target.vaksin_tersedia }}">
                                    <label for="floatingPasswordConfirm">{{ rs_target.vaksin_tersedia }}</label>
                                </div>
            
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="bed_ada" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">Ketersediaan Bed</label>
                                </div>
            
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" name="bed_tersedia" id="bed_tersedia" value="{{ rs_target.bed_tersedia }}">
                                    <label for="floatingPasswordConfirm">{{ rs_target.bed_tersedia }}</label>
                                </div>
                                <div class="d-grid mb-2">
                                    <input type="submit" class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" value="Perbarui"> 
                                </div>
                                <div class="d-grid mb-2">
                                    <button type="button" class="btn">
                                        <a href="/profile/" class="btn btn-lg btn-login text-uppercase">Kembali</a>
                                    </button>
                                </div>

                                {% endif %}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            {% endif %}
        </form>
        <div class="alert alert-success text-center" role="alert" id="berhasil" style="display: none">
        </div>
        <div class="alert alert-danger text-center" role="alert" id="gagal" style="display: none">
        </div>

    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'untuk_edit.js' %}"></script>
</html>