{% extends 'base.html' %}
{% block title %} Informasi Rumah Sakit {% endblock %}
{% block body %}

<br>
<!-- <h3 id="header"> Profil: </h3> -->
<br>
<br>
<div class="container mt-5 mb-5">
  <div class="row no-gutters">
      <div class="col-md-4 col-lg-4"><img src="https://preview.free3d.com/img/2015/08/1868207663993587627/agaave61-900.jpg"></div>
      <div class="col-md-8 col-lg-8">
          <div class="d-flex flex-column">
              <div class="d-flex flex-row justify-content-between align-items-center p-5 bg-light bg-gradient text-dark">
                  <h3 class="display-5">{{ rs_target.nama }}</h3><i class="fa fa-facebook"></i><i class="fa fa-google"></i><i class="fa fa-youtube-play"></i><i class="fa fa-dribbble"></i><i class="fa fa-linkedin"></i>
              </div>
              <div class="p-3  bg-secondary bg-gradient text-white">
                  <h6>Rumah Sakit Penyedia</h6>
              </div>
              <div class="d-flex flex-row text-white">
                  <div class="p-4 bg-dark bg-gradient text-center skill-block">
                      <h6>Lokasi</h6>
                      <h4>{{ rs_target.lokasi }}</h4>
                  </div>
                  <div class="p-3 bg-dark bg-gradient text-center skill-block">
                      <h6>Nomor Telepon</h6>
                      <h4>{{ rs_target.nomor_telepon }}</h4>
                  </div>
                  <div class="p-3 bg-dark bg-gradient text-center skill-block">
                      <h6>Vaksin:</h6>
                      <h4>{{ rs_target.vaksin_tersedia}}</h4>
                      <h6>Dosis</h6>
                  </div>
                  <div class="p-3 bg-dark bg-gradient text-center skill-block">
                      <h6>Bed:</h6>
                      <h4>{{ rs_target.bed_tersedia }}</h4>
                      <h6>Kamar</h6>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<br>
<br>
<strong id="kelihatan"> Perhatian! </strong>
<br>
<p id="kelihatan"> Mohon dicek kembali data yang tertera. Apabila ingin diubah, silakan menekan tombol 
<b> 
  <a class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" href="{% url 'edit_profile' %}">Edit</a>
</b> </p>

  {% endblock %}