@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

/* CONTAINERS DAN POSISI */
html{

  /*background: url("background_lava.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;*/

  background-image: url("background_lava.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;

  /*position: relative;
  width: 1000px;
  height: 4368px;
  
  /*background: #FFFFFF;*/


  /*background-image: url("background_lava.png");
  /*height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.transparent{
  
  position: relative;
  width: 1366px;
  height: 455px;
  left: 194px;
  top: 229px;

}

.bed{
  position: relative;
  width: 2165px;
  height: 975px;
  left: -62px;
  top: 980px;
  background-color: #10323A;

}

/* UNTUK PENGATURAN FONT DAN TULISAN */

.title{
  position: absolute;
  width: 454.15px;
  height: 82px;
  left: 500px;
  top: 286px;

  font-family: 'Poppins';
  font-style: 'ExtraBold';
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  text-align: center;

  color: #FFFFFF;
}

.shadow1{
  position: absolute;
  width: 454.15px;
  height: 82px;
  left: 500px;
  top: 229px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  text-align: center;

  color: #FFFFFF;

  opacity: 0.02;

}

.shadow2{

  position: absolute;
  width: 454.15px;
  height: 82px;
  left: 500px;
  top: 257px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  text-align: center;

  color: #FFFFFF;

  opacity: 0.1;
}

p{

  position: absolute;
  width: 1132px;
  height: 89px;
  left: 194px;
  top: 419px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  color: #FFFFFF;

}