.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:2920px;
  min-width:200px;
  max-width:1920px;
  margin:auto;
  background-color:#ffffff;
  overflow:hidden;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.background{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  height:2920px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:2920px;
  content:url(assets/images/background.png);
}
.background-outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
.navbar{
  position:relative;
  z-index:28;
  pointer-events:none;
  margin-left:794px;
  width:609px;
  min-width:609px;
  height:34px;
  margin-top:-2878px;
  margin-bottom:2844px;
  min-height:34px;
}
.navbar-outer{
  pointer-events:none;
  z-index:28;
  position:relative;
  display:flex;
}
.Vector{
  position:relative;
  z-index:29;
  pointer-events:none;
  margin-left:-794px;
  width:1294px;
  min-width:1294px;
  height:192px;
  margin-top:-35px;
  margin-bottom:-123px;
  min-height:192px;
  content:url(assets/images/Vector.png);
  visibility:hidden;
}
.Vector-outer{
  pointer-events:none;
  z-index:29;
  position:relative;
  display:flex;
}
.Frame-225{
  position:relative;
  z-index:30;
  pointer-events:none;
  margin-left:0px;
  width:609px;
  min-width:609px;
  height:34px;
  margin-top:-34px;
  margin-bottom:0px;
  min-height:34px;
}
.Frame-225-outer{
  pointer-events:none;
  z-index:30;
  position:relative;
  display:flex;
}
.LOGIN-1{
  position:relative;
  z-index:36;
  pointer-events:none;
  margin-left:544px;
  width:65px;
  min-width:65px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:34px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Kanit;
  font-weight:600;
  font-size:23px;
  line-height:34px;
}
.LOGIN-1-outer{
  pointer-events:none;
  z-index:36;
  position:relative;
  display:flex;
}
.ARTIKEL{
  position:relative;
  z-index:35;
  pointer-events:none;
  margin-left:415px;
  width:91px;
  min-width:91px;
  margin-top:-34px;
  margin-bottom:0px;
  min-height:34px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Kanit;
  font-weight:600;
  font-size:23px;
  line-height:34px;
}
.ARTIKEL-outer{
  pointer-events:none;
  z-index:35;
  position:relative;
  display:flex;
}
.VAKSIN{
  position:relative;
  z-index:34;
  pointer-events:none;
  margin-left:297px;
  width:80px;
  min-width:80px;
  margin-top:-34px;
  margin-bottom:0px;
  min-height:34px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Kanit;
  font-weight:600;
  font-size:23px;
  line-height:34px;
}
.VAKSIN-outer{
  pointer-events:none;
  z-index:34;
  position:relative;
  display:flex;
}
.BED{
  position:relative;
  z-index:33;
  pointer-events:none;
  margin-left:216px;
  width:43px;
  min-width:43px;
  margin-top:-34px;
  margin-bottom:0px;
  min-height:34px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Kanit;
  font-weight:600;
  font-size:23px;
  line-height:34px;
}
.BED-outer{
  pointer-events:none;
  z-index:33;
  position:relative;
  display:flex;
}
.ABOUT{
  position:relative;
  z-index:32;
  pointer-events:none;
  margin-left:101px;
  width:77px;
  min-width:77px;
  margin-top:-34px;
  margin-bottom:0px;
  min-height:34px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Kanit;
  font-weight:600;
  font-size:23px;
  line-height:34px;
}
.ABOUT-outer{
  pointer-events:none;
  z-index:32;
  position:relative;
  display:flex;
}
.HOME{
  position:relative;
  z-index:31;
  pointer-events:none;
  margin-left:0px;
  width:63px;
  min-width:63px;
  margin-top:-34px;
  margin-bottom:0px;
  min-height:34px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Kanit;
  font-weight:600;
  font-size:23px;
  line-height:34px;
}
.HOME-outer{
  pointer-events:none;
  z-index:31;
  position:relative;
  display:flex;
}
.welcome-center{
  position:relative;
  z-index:37;
  pointer-events:none;
  margin-left:194px;
  width:1132px;
  min-width:1132px;
  height:455px;
  margin-top:-2691px;
  margin-bottom:2236px;
  min-height:455px;
}
.welcome-center-outer{
  pointer-events:none;
  z-index:37;
  position:relative;
  display:flex;
}
.WELCOME-2{
  position:relative;
  z-index:42;
  pointer-events:none;
  opacity:0.019999999552965164;
  margin-left:306px;
  width:454.15px;
  min-width:454.15px;
  margin-top:0px;
  margin-bottom:373px;
  min-height:82px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:800;
  font-size:70px;
  line-height:106px;
}
.WELCOME-2-outer{
  pointer-events:none;
  z-index:42;
  position:relative;
  display:flex;
}
.WELCOME-1{
  position:relative;
  z-index:43;
  pointer-events:none;
  opacity:0.10000000149011612;
  margin-left:306px;
  width:454.15px;
  min-width:454.15px;
  margin-top:-427px;
  margin-bottom:345px;
  min-height:82px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:800;
  font-size:70px;
  line-height:106px;
}
.WELCOME-1-outer{
  pointer-events:none;
  z-index:43;
  position:relative;
  display:flex;
}
.WELCOME{
  position:relative;
  z-index:44;
  pointer-events:none;
  margin-left:306px;
  width:454.15px;
  min-width:454.15px;
  margin-top:-398px;
  margin-bottom:316px;
  min-height:82px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:800;
  font-size:70px;
  line-height:106px;
}
.WELCOME-outer{
  pointer-events:none;
  z-index:44;
  position:relative;
  display:flex;
}
.Di-masa-pandemi-COVI{
  position:relative;
  z-index:41;
  pointer-events:none;
  margin-left:0px;
  width:1132px;
  min-width:1132px;
  margin-top:-265px;
  margin-bottom:121px;
  min-height:144px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:18px;
  line-height:27px;
}
.Di-masa-pandemi-COVI-outer{
  pointer-events:none;
  z-index:41;
  position:relative;
  display:flex;
}
.tombol-login{
  position:relative;
  z-index:38;
  pointer-events:auto;
  cursor:pointer;
  min-width:157px;
  min-height:63px;
  filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width:100%;
  height:100%;
}
.tombol-login-outer{
  pointer-events:none;
  z-index:38;
  position:relative;
  display:flex;
}
.tombol-login-url{
  text-decoration:none;
  margin-left:457px;
  width:157px;
  height:63px;
  margin-top:-63px;
  margin-bottom:0px;
}
.Rectangle-1{
  position:relative;
  z-index:39;
  pointer-events:none;
  margin-left:0px;
  width:157px;
  min-width:157px;
  height:63px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:63px;
  background-color:rgba(84, 219, 204, 1);
  border-radius:10.42758560180664px;
}
.Rectangle-1-outer{
  pointer-events:none;
  z-index:39;
  position:relative;
  display:flex;
}
.LOGIN{
  position:relative;
  z-index:40;
  pointer-events:none;
  margin-left:34px;
  width:97px;
  min-width:97px;
  margin-top:-58px;
  margin-bottom:10px;
  min-height:48px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(2, 2, 21, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:32px;
  line-height:48px;
}
.LOGIN-outer{
  pointer-events:none;
  z-index:40;
  position:relative;
  display:flex;
}
.Frame-167{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:-62px;
  width:1668px;
  min-width:1668px;
  height:975px;
  margin-top:-1940px;
  margin-bottom:965px;
  min-height:975px;
}
.Frame-167-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.tombol-next{
  position:relative;
  z-index:15;
  pointer-events:auto;
  cursor:pointer;
  min-width:215px;
  min-height:63px;
  filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width:100%;
  height:100%;
}
.tombol-next-outer{
  pointer-events:none;
  z-index:15;
  position:relative;
  display:flex;
}
.tombol-next-url{
  text-decoration:none;
  margin-left:923px;
  width:215px;
  height:63px;
  margin-top:617px;
  margin-bottom:295px;
}
.Rectangle-1-1{
  position:relative;
  z-index:16;
  pointer-events:none;
  margin-left:0px;
  width:215px;
  min-width:215px;
  height:63px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:63px;
  background-color:rgba(16, 50, 58, 1);
  border:3px solid rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-radius:10.42758560180664px;
}
.Rectangle-1-1-outer{
  pointer-events:none;
  z-index:16;
  position:relative;
  display:flex;
}
.Continue-1{
  position:relative;
  z-index:17;
  pointer-events:none;
  margin-left:33px;
  width:150px;
  min-width:150px;
  margin-top:-56px;
  margin-bottom:8px;
  min-height:48px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:32px;
  line-height:48px;
}
.Continue-1-outer{
  pointer-events:none;
  z-index:17;
  position:relative;
  display:flex;
}
.decor-1{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:0px;
  width:1668px;
  min-width:1668px;
  height:982.84px;
  margin-top:8px;
  margin-bottom:-990.8400000000001px;
  min-height:982.84px;
}
.decor-1-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.bg-1{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:0px;
  width:1668px;
  min-width:1668px;
  height:975px;
  margin-top:-983px;
  margin-bottom:990.8400000000001px;
  min-height:975px;
  background-color:rgba(16, 50, 58, 1);
}
.bg-1-outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.lava1{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:62px;
  width:535.25px;
  min-width:535.25px;
  height:918.6px;
  margin-top:-1893.8400000000001px;
  margin-bottom:975.2400000000002px;
  min-height:918.6px;
  content:url(assets/images/lava1.png);
}
.lava1-outer{
  pointer-events:none;
  z-index:7;
  position:relative;
  display:flex;
}
.glove{
  position:relative;
  z-index:10;
  pointer-events:none;
  margin-left:359px;
  width:523px;
  min-width:523px;
  height:668.82px;
  margin-top:-1832.8400000000001px;
  margin-bottom:1164.02px;
  min-height:668.82px;
  content:url(assets/images/glove.png);
}
.glove-outer{
  pointer-events:none;
  z-index:10;
  position:relative;
  display:flex;
}
.KATALOG-BED{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:923px;
  width:310px;
  min-width:310px;
  margin-top:-1674.8400000000001px;
  margin-bottom:1592.8400000000001px;
  min-height:82px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:700;
  font-size:45px;
  line-height:68px;
}
.KATALOG-BED-outer{
  pointer-events:none;
  z-index:9;
  position:relative;
  display:flex;
}
.swatch{
  position:relative;
  z-index:11;
  pointer-events:none;
  margin-left:1247px;
  width:187px;
  min-width:187px;
  height:303px;
  margin-top:-1662.8400000000001px;
  margin-bottom:1359.8400000000001px;
  min-height:303px;
}
.swatch-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
.Rectangle-122{
  position:relative;
  z-index:12;
  pointer-events:none;
  margin-left:0px;
  width:187px;
  min-width:187px;
  height:167px;
  margin-top:-303px;
  margin-bottom:439px;
  min-height:167px;
  background-color:rgba(43, 121, 131, 1);
}
.Rectangle-122-outer{
  pointer-events:none;
  z-index:12;
  position:relative;
  display:flex;
}
.Rectangle-124{
  position:relative;
  z-index:14;
  pointer-events:none;
  margin-left:0px;
  width:187px;
  min-width:187px;
  height:56px;
  margin-top:-423px;
  margin-bottom:367px;
  min-height:56px;
  background-color:rgba(53, 147, 159, 1);
}
.Rectangle-124-outer{
  pointer-events:none;
  z-index:14;
  position:relative;
  display:flex;
}
.Rectangle-123{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:0px;
  width:187px;
  min-width:187px;
  height:31px;
  margin-top:-334px;
  margin-bottom:303px;
  min-height:31px;
  background-color:rgba(109, 226, 184, 1);
}
.Rectangle-123-outer{
  pointer-events:none;
  z-index:13;
  position:relative;
  display:flex;
}
.Temukan-bed-bed-yang{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:923px;
  width:310px;
  min-width:310px;
  margin-top:-1530.8400000000001px;
  margin-bottom:1249.8400000000001px;
  min-height:281px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:26px;
  line-height:39px;
}
.Temukan-bed-bed-yang-outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
.Frame-168{
  position:relative;
  z-index:18;
  pointer-events:none;
  margin-left:-101px;
  width:1668px;
  min-width:1668px;
  height:975px;
  margin-top:-975px;
  margin-bottom:0px;
  min-height:975px;
}
.Frame-168-outer{
  pointer-events:none;
  z-index:18;
  position:relative;
  display:flex;
}
.decor{
  position:relative;
  z-index:19;
  pointer-events:none;
  margin-left:0px;
  width:1668.39px;
  min-width:1668.39px;
  height:975px;
  margin-top:975px;
  margin-bottom:-975px;
  min-height:975px;
}
.decor-outer{
  pointer-events:none;
  z-index:19;
  position:relative;
  display:flex;
}
.bg{
  position:relative;
  z-index:20;
  pointer-events:none;
  margin-left:0px;
  width:1668px;
  min-width:1668px;
  height:975px;
  margin-top:-975px;
  margin-bottom:975px;
  min-height:975px;
  background-color:rgba(10, 41, 48, 1);
}
.bg-outer{
  pointer-events:none;
  z-index:20;
  position:relative;
  display:flex;
}
.lava2{
  position:relative;
  z-index:22;
  pointer-events:none;
  margin-left:1018px;
  width:523px;
  min-width:523px;
  height:972px;
  margin-top:-1947px;
  margin-bottom:975px;
  min-height:972px;
  content:url(assets/images/lava2.png);
}
.lava2-outer{
  pointer-events:none;
  z-index:22;
  position:relative;
  display:flex;
}
.vax{
  position:relative;
  z-index:27;
  pointer-events:none;
  margin-left:586px;
  width:496px;
  min-width:496px;
  height:688.97px;
  margin-top:-1752px;
  margin-bottom:1063.0299999999997px;
  min-height:688.97px;
  content:url(assets/images/vax.png);
}
.vax-outer{
  pointer-events:none;
  z-index:27;
  position:relative;
  display:flex;
}
.KATALOG-VAKSIN{
  position:relative;
  z-index:25;
  pointer-events:none;
  margin-left:164px;
  width:310px;
  min-width:310px;
  margin-top:-1620px;
  margin-bottom:1476px;
  min-height:144px;
  text-align:right;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:700;
  font-size:45px;
  line-height:68px;
}
.KATALOG-VAKSIN-outer{
  pointer-events:none;
  z-index:25;
  position:relative;
  display:flex;
}
.Temukan-vaksin-yang-{
  position:relative;
  z-index:24;
  pointer-events:none;
  margin-left:164px;
  width:310px;
  min-width:310px;
  margin-top:-1476px;
  margin-bottom:1195px;
  min-height:281px;
  text-align:right;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:26px;
  line-height:39px;
}
.Temukan-vaksin-yang--outer{
  pointer-events:none;
  z-index:24;
  position:relative;
  display:flex;
}
.Rectangle-2{
  position:relative;
  z-index:23;
  pointer-events:auto;
  cursor:pointer;
  min-width:215px;
  min-height:63px;
  background-color:rgba(16, 50, 58, 1);
  border:3px solid rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-radius:10.42758560180664px;
  width:100%;
  height:100%;
}
.Rectangle-2-outer{
  pointer-events:none;
  z-index:23;
  position:relative;
  display:flex;
}
.Rectangle-2-url{
  text-decoration:none;
  margin-left:259px;
  width:215px;
  height:63px;
  margin-top:-1294px;
  margin-bottom:1231px;
}
.Continue{
  position:relative;
  z-index:26;
  pointer-events:none;
  margin-left:292px;
  width:150px;
  min-width:150px;
  margin-top:-1287px;
  margin-bottom:1239px;
  min-height:48px;
  text-align:right;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:32px;
  line-height:48px;
}
.Continue-outer{
  pointer-events:none;
  z-index:26;
  position:relative;
  display:flex;
}
.gradient{
  position:relative;
  z-index:21;
  pointer-events:none;
  margin-left:-73px;
  width:1668px;
  min-width:1668px;
  height:173px;
  margin-top:-1110px;
  margin-bottom:937px;
  min-height:173px;
  background:linear-gradient(0deg, rgba(10, 41, 48, 1) 20.809247556674915%, rgba(10, 41, 48, 0) 82.08092098624469%);
  visibility:hidden;
}
.gradient-outer{
  pointer-events:none;
  z-index:21;
  position:relative;
  display:flex;
}
